h1 {
    color: rgb(0, 115, 255);
    text-align: center;
    font-size: 56px
  }

  h2{
    color: purple;
    text-align: center;
    font-size: 42px
  }
  
  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    text-align: center;
  }

  body {background-color: aquamarine;
  }